[@serenity-is/sleekgrid](../README.md) / ValidationResult

# Interface: ValidationResult

## Table of contents

### Properties

- [msg](ValidationResult.md#msg)
- [valid](ValidationResult.md#valid)

## Properties

### msg

• `Optional` **msg**: `string`

#### Defined in

[core/editing.ts:16](https://github.com/serenity-is/sleekgrid/blob/master/src/core/editing.ts#line&#x3D;16)

___

### valid

• **valid**: `boolean`

#### Defined in

[core/editing.ts:15](https://github.com/serenity-is/sleekgrid/blob/master/src/core/editing.ts#line&#x3D;15)
