[serenity-is/sleekgrid](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/core/editing.ts:14](https://github.com/serenity-is/Serenity/blob/master/packages/sleekgrid/src/core/editing.ts#L14)

## Properties

### msg?

> `optional` **msg**: `string`

Defined in: [src/core/editing.ts:16](https://github.com/serenity-is/Serenity/blob/master/packages/sleekgrid/src/core/editing.ts#L16)

***

### valid

> **valid**: `boolean`

Defined in: [src/core/editing.ts:15](https://github.com/serenity-is/Serenity/blob/master/packages/sleekgrid/src/core/editing.ts#L15)
