[@serenity-is/sleekgrid](../README.md) / ValidationResult

# Interface: ValidationResult

## Properties

### msg?

> `optional` **msg**: `string`

#### Defined in

[core/editing.ts:16](https://github.com/serenity-is/sleekgrid/blob/master/src/core/editing.ts#L16)

***

### valid

> **valid**: `boolean`

#### Defined in

[core/editing.ts:15](https://github.com/serenity-is/sleekgrid/blob/master/src/core/editing.ts#L15)
